@using System.Net.Http.Json
@page "/categoryoverview"

<div class="container-fluid d-flex flex-column align-items-center">
    <h3 class="mt-2">Kategorite</h3>

    <br />

    <MudLink Href="/addcategory" Underline="Underline.Always" Class="btn" >Shto Kategori</MudLink>
    <br />
    @if (Categories.Count == 0)
    {
        <p><em>Loading...</em></p>
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }
    else
    {
            <MudSimpleTable Style="overflow-x: auto; width: fit-content;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Categories)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td>@category.Name </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
    }
</div>

