﻿<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <StockM.Pages.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert"><h1 class="mt-4 text-info text-center">Nuk u gjet asnjë rezultat në këtë adresë.</h1></p>
        </LayoutView>
    </NotFound>
</Router>
﻿</CascadingAuthenticationState>