@page
@model StockManagement.App.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" />
    <label asp-for="Input.FirstName" class="form-control" autocomplete="firstname"></label>
    <span asp-validation-for="Input.LastName" class="text-danger"></span>

    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" />
    <label asp-for="Input.LastName" class="form-control" autocomplete="lastname"></label>
    <span asp-validation-for="Input.LastName" class="text-danger"></span>

    <input asp-for="Input.UserName" class="form-control" autocomplete="username" />
    <label asp-for="Input.UserName" class="form-control" autocomplete="username"></label>
    <span asp-validation-for="Input.UserName" class="text-danger"></span>

    <input asp-for="Input.Email" class="form-control" autocomplete="email" />
    <label asp-for="Input.Email" class="form-control" autocomplete="email"></label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>

    <input asp-for="Input.Password" class="form-control" autocomplete="password" />
    <label asp-for="Input.Password" class="form-control" autocomplete="password"></label>
    <span asp-validation-for="Input.Password" class="text-danger"></span>


    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
</div>
